html, body {
  width: 100%;
  height: 100%;
  font-family: var(--joplin-font-family);
  color: var(--joplin-color);
  background: var(--joplin-background);

  > div {
    height: 100%;

    #joplin-plugin-content {
      height: 100%;

      #app {
        height: 100%;
        box-shadow: inset 7px 0px 7px -7px #5E5E5E;

        display: flex;
        flex-direction: column;

        .app-container {
          padding: 8px 8px;
          flex: 1;
          height: 0;
          display: none;
          flex-direction: column;
          position: relative;

          .github-icon {
            position: absolute;
            overflow: hidden;
            left: 0;
            top: -2px;
            transform: rotate(-90deg);
            cursor: pointer;
          }

          .header {
            display: flex;
            justify-content: end;

            .title {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .search-area {
            margin-top: 32px;
            display: flex;
            justify-content: center;

            .el-input {
              width: 300px;
            }
          }

          .list-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 8px;

            .chapters-title {
              flex: 1;
              text-align: center;
              font-size: 20px;
              font-weight: 800;
            }
          }

          .search-result {
            flex: 1;
            overflow-y: auto;
            margin-top: 8px;
            display: flex;
            flex-direction: column;

            .book-list {
              padding-bottom: 30px;

              .box-card {
                margin-bottom: 6px;

                .el-card__header {
                  padding: 8px 16px;
                }

                .card-header {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .book-name {
                    font-size: 20px;
                    font-weight: 800;
                  }
                }

                .book-info {
                  height: 80px;
                  display: flex;

                  .cover {
                    width: 60px;

                    img {
                      height: 100%;
                    }
                  }

                  .other-info {
                    flex: 1;
                    padding-left: 8px;
                    overflow-y: hidden;

                    .item-title {
                      font-weight: 800;
                    }
                  }
                }
              }
            }

            .chapters-list {
              padding-top: 6px;
              padding-bottom: 30px;

              .card-layout {
                height: 100%;
                overflow-y: auto;

                .el-card {
                  margin-bottom: 8px;

                  .el-card__header {
                    padding: 8px 16px;

                    .card-header {
                      font-size: 16px;
                      font-weight: 800;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }

  /deep/ .el-scrollbar__thumb {
    background-color: var(--joplin-color3)
  }

  /deep/ .el-card {
    border-color: var(--joplin-divider-color);

    .el-card__header {
      background: var(--joplin-background-color3);
      color: var(--joplin-color);
      border-color: var(--joplin-divider-color);;
    }

    .is-always-shadow, .is-hover-shadow:focus, .is-hover-shadow:hover {
      box-shadow: 0 2px 12px 0 var(--joplin-background-color-transparent)
    }
  }
}